#buttonsContainer {
    display: flex;
    flex-wrap: wrap;
}

#buttonsContainer button {
    color: white;
    height: 5em;
    width: 10em;
    margin-right: 5px;
    margin-bottom: 5px;
}

#goButton {
    height: 26px;
    width: fit-content;
}

#numInput {
    height: 20px;
}